# LSE Data Analytics Online Career Accelerator
# Data Analytics using Python

# Practical activity: Filter the data

# This is the solution to the activity.

Canopy is a new boutique streaming company that is looking to create an app to provide recommendations for each user based on their recently watched movies. I work with the team to better understand the data.

I have access to the data sets movies.xlsx and ott.csv from Canopy.

# Objectives: 
Filter the values in the data to gain useful insights.
Modify the DataFrame to write fewer lines of code and ensure accuracy.
Describe the patterns, trends, and spread of the data set.

# 1. Import Pandas, data sets and validate

In [1]:
# Import the necessary packages.
import pandas as pd

# Import the movies data set.
movies = pd.read_excel('movies.xlsx')

# View the DataFrame.
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [23]:
# Import the ott data set.
ott = pd.read_csv('ott.csv')

# View the DataFrame.
ott.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [32]:
# Determine the sum of missing values
mmovies = movies[movies.isna().any(axis=1)]
mmovies.shape

(13443, 10)

In [33]:
# Replace the missing values in Age, Director, Genres, Country, Language
movies['Age'][movies['Age'].isna()] = 'Others'
movies['Directors'][movies['Directors'].isna()] = 'Others'
movies['Genres'][movies['Genres'].isna()] = 'Others'
movies['Country'][movies['Country'].isna()] = 'Others'
movies['Language'][movies['Language'].isna()] = 'Others'

C:\Users\ibise\AppData\Local\Temp\ipykernel_14820\988262352.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Age'][movies['Age'].isna()] = 'Others'
C:\Users\ibise\AppData\Local\Temp\ipykernel_14820\988262352.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Directors'][movies['Directors'].isna()] = 'Others'
C:\Users\ibise\AppData\Local\Temp\ipykernel_14820\988262352.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Genres'][movies['Genres'].isna()] = 'Others'
C:\Users\ibise\AppData\Local\Temp\ipykernel_14820\988262352.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Country'][movies['Country'].isna()] = 'Others'
C:\Users\ibise\AppData\Local\Temp\ipykernel_14820\988262352.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies['Language'][movies['Language'].isna()] = 'Others'

In [34]:
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

In [36]:
# missing value for ImDb
movies['IMDb'].isnull().sum()

571

In [40]:
# Replacing the missing values with mean
movies['IMDb'].fillna(movies['IMDb'].mean(),inplace=True)

# check for missing values
movies['IMDb'].isnull().sum()

0

In [37]:
# missing values for Rotten Tomatoes
movies['Rotten Tomatoes'].isnull().sum()

11586

In [41]:
# Replacing the missing values with mean
movies['Rotten Tomatoes'].fillna(movies['Rotten Tomatoes'].mean(),inplace=True)

# check for missing values
movies['Rotten Tomatoes'].isnull().sum()

0

In [38]:
# missing values for Runtime
movies['Runtime'].isnull().sum()

592

In [42]:
# Replacing the missing values with mean
movies['Runtime'].fillna(movies['Runtime'].mean(),inplace=True)

# check for missing values
movies['Runtime'].isnull().sum()

0

In [43]:
# Validate the data types.
print(movies.dtypes)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object

In [44]:
print(ott.dtypes)

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [45]:
# Determine the column names.
print(list(movies.columns))

['Title', 'Year', 'Age', 'IMDb', 'Rotten Tomatoes', 'Directors', 'Genres', 'Country', 'Language', 'Runtime']

In [46]:
list(ott.columns)

['ID', 'Netflix', 'Hulu', 'Prime Video', 'Disney+']

In [53]:
movies.head()

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
0,Inception,2010,13+,8.8,0.87,Christopher Nolan,"Action,Adventure,Sci-Fi,Thriller","United States,United Kingdom","English,Japanese,French",148.0
1,The Matrix,1999,18+,8.7,0.87,"Lana Wachowski,Lilly Wachowski","Action,Sci-Fi",United States,English,136.0
2,Avengers: Infinity War,2018,13+,8.5,0.84,"Anthony Russo,Joe Russo","Action,Adventure,Sci-Fi",United States,English,149.0
3,Back to the Future,1985,7+,8.5,0.96,Robert Zemeckis,"Adventure,Comedy,Sci-Fi",United States,English,116.0
4,"The Good, the Bad and the Ugly",1966,18+,8.8,0.97,Sergio Leone,Western,"Italy,Spain,West Germany",Italian,161.0

# 2. Filter the DataFrame for only numeric variables

In [54]:
# Filter the DataFrame according to numeric variables.
movies_num = movies.select_dtypes('number')

movies_num.head()

   Year  IMDb  Rotten Tomatoes  Runtime
0  2010   8.8             0.87    148.0
1  1999   8.7             0.87    136.0
2  2018   8.5             0.84    149.0
3  1985   8.5             0.96    116.0
4  1966   8.8             0.97    161.0

In [55]:
# drop column 'Year'
movies_num = movies_num.drop('Year', axis = 1)

movies_num.head()

   IMDb  Rotten Tomatoes  Runtime
0   8.8             0.87    148.0
1   8.7             0.87    136.0
2   8.5             0.84    149.0
3   8.5             0.96    116.0
4   8.8             0.97    161.0

# 3. Calculate the IQR for each column except Year

In [56]:
# Calculate Q1 and Q3.
Q1 = movies_num.quantile(0.25)
Q3 = movies_num.quantile(0.75)

# View the output
print(Q1)
print(Q3)

IMDb                5.100000
Rotten Tomatoes     0.654285
Runtime            83.000000
Name: 0.25, dtype: float64
IMDb                 6.900000
Rotten Tomatoes      0.654285
Runtime            103.250000
Name: 0.75, dtype: float64

In [57]:
# Calculate the IQR.
IQR = Q3 - Q1

# View the output.
print(IQR)

IMDb                1.80
Rotten Tomatoes     0.00
Runtime            20.25
dtype: float64

# 4. Evaluate the range of the data set

In [58]:
# Determine the descriptive statistics.
movies_num.describe()

               IMDb  Rotten Tomatoes       Runtime
count  16744.000000     16744.000000  16744.000000
mean       5.902751         0.654285     93.413447
std        1.324684         0.147707     27.715844
min        0.000000         0.020000      1.000000
25%        5.100000         0.654285     83.000000
50%        6.000000         0.654285     93.000000
75%        6.900000         0.654285    103.250000
max        9.300000         1.000000   1256.000000